* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
      rgba(47, 23, 15, 0.65),
      rgba(47, 23, 15, 0.65)
    ),
    url(https://startbootstrap.github.io/startbootstrap-business-casual/assets/img/bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.home__header {
  font-family: "Raleway";
}
.home__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__top h2 {
  color: #e6a756;
  font-size: 1.7rem;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 1rem;
}
.home__top h1 {
  text-align: center;
  color: #f6e1c5d7;
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}
.home__bottom {
  background-color: rgba(47, 23, 15, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.25rem;
  margin-bottom: 5rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.home__bottom ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 4rem;
}
.home__bottom a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  font-weight: 700;
}
.home__bottom a:hover {
  color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}



.home__section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 21%; 
  position: relative;

}

.home__section img {
  width: 60.75rem;
  border-radius: 0.6rem;
  /* z-index: -1; */

}
.home__section__title {
  background-color: #f6e1c5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 36.5rem;
  padding: 3rem;
  color: #212529;
  border-radius: 0.5rem;
  position: absolute;
  top: 50px; 
  right: 55%;
  
  
  
}
.home__section__title h5 {
  font-size: 1rem;
  font-weight: 800;
  font-family: "Raleway";
}
.home__section__title h2 {
    font-family: "Raleway";
    font-size: 3rem;
    font-weight: 100;
    padding-bottom: 1.5rem;
}
.home__section__title p {
  line-height: 1.75rem;
  padding-bottom: 1rem;
  font-family: "Lora";
}
.home__section__title__link {
  width: 100%;
  font-family: "Lora";
  position: absolute;
  bottom: -0.5rem;

  
}
.home__section__title__link a {
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  background-color: #e6a756;
  color: #000000;
  border-radius: 0.375rem;
  padding: 1.65rem 2rem;
}
.home__section__title__link a:hover {
  background-color: #eab46f;
  transition: 0.4s;
}

#home2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: rgba(230, 167, 86, 0.9);
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home2__title {
  background-color: #f6e1c5;
  padding: 3rem;
  width: 60rem;
  text-align: center;
  border-radius: 0.25rem;
  border: 0.25rem solid rgb(230, 160, 70);
  outline: 0.25rem solid rgba(238, 185, 116, 0.703)
}
.home2__title h5 {
  font-size: 1rem;
  font-weight: 800;
  font-family: "Raleway";
}
.home2__title h2 {
  font-family: "Raleway";
  font-size: 3rem;
  font-weight: 100;
  padding-bottom: 1.5rem;
}
.home2__title p {
  line-height: 1.75rem;
  font-family: "Lora";
}
.home__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 23, 15, 0.9);
  padding: 3.5rem;
  margin-top: 4.5rem;
}
.home__footer p {
  color: #f6e1c5;
}


