* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(
        rgba(47, 23, 15, 0.65),
        rgba(47, 23, 15, 0.65)
      ),
      url(https://startbootstrap.github.io/startbootstrap-business-casual/assets/img/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.products__header {
    font-family: "Raleway";
  }
.products__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .products__top h2 {
    color: #e6a756;
    font-size: 1.7rem;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
  .products__top h1 {
    text-align: center;
    color: #f6e1c5d7;
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
  }
  
.products__bottom {
    background-color: rgba(47, 23, 15, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.25rem;
    margin-bottom: 5rem;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .products__bottom ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 4rem;
  }
  .products__bottom a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
    font-weight: 700;
  }
  .products__bottom a:hover {
    color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
  }

.products__item1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 12.5rem;
}
  .title1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f6e1c5;
    padding: 3rem;
    width: 30.249375rem;
    border-radius: 0.375rem;
    position: absolute;
    top: -7.5625rem;
    left: 61%;
    z-index: 1;
    
  }
  .title1 h5{
  font-size: 1rem;
  font-weight: 800;
  font-family: "Raleway";
  }
  .title1 h2{
  font-family: "Raleway";
  font-size: 3rem;
  font-weight: 100;
  }


  .description1{
    background-color: #f6e1c5;
    padding: 3rem;
    width: 45rem;
    font-family: "Lora";
    border-radius: 0.375rem;
    position: absolute;
    bottom: -9.625rem;
    left: 10%;
  }
  .description1 p{
    line-height: 1.75;
  }
  .products__item1 img{
    border-radius: 0.375rem;
  }

  .products__item2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 23rem;
  }
  .title2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f6e1c5;
    padding: 3rem;
    width: 33.486875rem;
    border-radius: 0.375rem;
    position: absolute;
    top: -7.5625rem;
    right: 54%;
    z-index: 1;
  }

.title2 h5{
  font-size: 1rem;
  font-weight: 800;
  font-family: "Raleway";

}
.title2 h2{
  font-family: "Raleway";
  font-size: 3rem;
  font-weight: 100;

}
.description2{
  background-color: #f6e1c5;
  padding: 3rem;
  width: 45rem;
  font-family: "Lora";
  border-radius: 0.375rem;
  position: absolute;
  bottom: -8rem;
  right: 7%;
}
.description2 p{
  line-height: 1.75;
}
.products__item2 img{
  border-radius: 0.375rem;
}


.products__item3{

  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 19rem;

}
.title3{
  display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f6e1c5;
    padding: 3rem;
    width: 43.44125rem;
    border-radius: 0.375rem;
    position: absolute;
    top: -7.5625rem;
    left: 47%;
    z-index: 1;
}
.title3 h5{
  font-size: 1rem;
  font-weight: 800;
  font-family: "Raleway";
}
.title3 h2{
  font-family: "Raleway";
  font-size: 3rem;
  font-weight: 100;
}
.products__item3 img{
  border-radius: 0.375rem;
}

.description3{
  background-color: #f6e1c5;
  padding: 3rem;
  width: 45rem;
  font-family: "Lora";
  border-radius: 0.375rem;
  position: absolute;
  bottom: -8rem;
  left: 7%;

}
.description3 p{
  line-height: 1.75;

}


.products__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 23, 15, 0.9);
  padding: 3.5rem;
  margin-top: 13rem;
}
.products__footer p {
  color: #f6e1c5;
}

